.srchFactor{width:650px; direction:rtl; text-align:center; direction:rtl;border:#666 1px dotted; border-radius:5px; margin:5px; padding:5px}
.srchFactor .divsatr {padding:5px; direction:rtl; width:100%; float:right}
.srchFactor .lbl {width:105px; direction:rtl; text-align:left; float:right; padding:2px}
.srchFactor .value {padding:2px; direction:rtl; text-align:right; float:right; width:525px}
.srchFactor .value2 {padding:0px; direction:rtl; text-align:right; float:right; width:525px; overflow: hidden; min-height: 25px;}
.srchFactor .txtbox {width: 200px; direction:rtl; height: 25px; border: 1px dotted green; color:#336; border-radius: 5px;}
.srchFactor .lblfceditor {text-align:right;width:80px; direction:rtl; padding:5px}
.srchFactor #btn {padding:5px; direction:rtl; margin-top:25px; margin-right:60px; width:80px; float:right;}
.srchFactor .btn {width:60px; direction:rtl; height:30px}

.headerprefactor{height:30px; direction:rtl; line-height:20px; color:#000; font-weight:bold;  background:#C5C5C5; padding-top: 5px; padding-bottom: 5px;width:650px; vertical-align:middle;}
.footerprefactor{height:30px; direction:rtl; line-height:20px; color:#000; font-weight:bold;  background:#C5C5C5; padding-top: 5px; padding-bottom: 5px;width:650px; vertical-align:middle;}
#prefactor {padding:5px; direction:rtl; margin:40px 10px; border-radius: 5px; width:650px; background-color:White; text-align:center; font-Size:12px}
#prefactor #sh_factor {height:30px; direction:rtl; line-height:30px; background-color:#C5C5C5; text-align:center; font-weight:bold; float:right; width:100%}
#prefactor #div_satr{padding: 8px 5px 8px 5px; direction:rtl; float:right; width:100%}
#prefactor #lbl1{float:right; direction:rtl; width:110px;min-width:110px; max-width:110px; text-align:right}
#prefactor #lbl2{float:right; direction:rtl; width:80px; min-width:80px; max-width:80px; margin-right:40px; text-align:right; text-align:right}
#prefactor #val{width:170px; direction:rtl; float:right; min-width:170px; max-width:170px; text-align:right}
#prefactor #lblmail {float:right; direction:rtl; min-width:50px; max-width:50px; width:50px; margin-right:40px; text-align:right}
#prefactor #valmail {width:220px; direction:rtl; min-width:220px; max-width:220px; float:right; text-align:right}
#prefactor #valname{width:200px; direction:rtl; min-width:200px; max-width:200px; float:right; text-align:right}
#prefactor #lbltel {float:right; direction:rtl; width:80px; min-width:80px; max-width:80px; text-align:right}
#prefactor #valtel {width:130px; direction:rtl; min-width:130px; max-width:130px; float:right; text-align:right}
#prefactor #lblhamrah {float:right; direction:rtl; width:50px; min-width:50px; max-width:50px; margin-right:40px; text-align:right}
#prefactor #valhamrah{width:110px;min-width:110px; direction:rtl; max-width:110px; float:right; text-align:right}
#prefactor #lbladrs{float:right; direction:rtl; width:50px; text-align:right}
#prefactor #valadrs{width:550px; direction:rtl; float:right; text-align:justify}
#prefactor #lbl_code_commn {float:right; direction:rtl; width:70px; text-align:right}
#prefactor #valcode {width:100px; direction:rtl; float:right; text-align:justify}
#prefactor #valcommn {width:550px; direction:rtl; float:right; text-align:justify}
#prefactor .baskethead {float:right; direction:rtl; margin-top:30px; text-align:center; width:100%; vertical-align:middle}
#prefactor .titrprefact{padding:5px; direction:rtl; float:right; }
#prefactor .strfacor{padding:5px; direction:rtl; text-align:center; width:100%; height:30px}
#prefactor 
.basketfoot{float:right; direction:rtl; text-align:center; width:100%;}